<div class="modal fade" id="modal-target">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label>
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title">【残業申請】</h1>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= form_with(model: @user, url: attendances_update_overwork_request_user_path(params:{ day: @attendance.worked_on }), local: true, method: :patch) do |f| %>
            <table class="table table-bordered table-condensed table-stiped user-table">
              <thead>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間</th>
                <th>翌日</th>
                <th>実務処理内容</th>
                <th>指示者確認㊞</th>
              </thead>
              
              <tbody>
                <% @attendances.each do |day| %>
                  <%= f.fields_for "attendances[]", day do |attendance| %>
                    <td><%= l(@day, format: :short) %></td>
                    <% if @day.wday == 6 %> <td class="sat"><%= $days_of_the_week[@day.wday] %></td>
                    <% elsif @day.wday == 0 %>
                      <td class="sun"><%= $days_of_the_week[@day.wday] %></td>
                    <% else %>
                      <td><%= $days_of_the_week[@day.wday] %></td>
                    <% end %>
                    <td><%= attendance.tiem_field :scheduled_end_timne, class: "form-control" %></td>
                    <td><%= attendance.check_box :next_day, id: "next_day" %></td>
                    <td><%= attendance.text_field :business_process, class: "form-control" %></td>
                    <td><%= attendance.select :cofirmation, [["なし", "なし"], ["申請中", "申請中"], ["承認", "承認"], ["否認", "否認"]], class: "form-controle" %></td>
                  <% end %>
                  <% end %>
              </tbody>
              
              <tfoot>
                <tr>
                  <td><%= Date.today.strftime('%m/%d') %></td>
                  <td><%= %w(日 月 火 水 木 金 土)[Date.today.wday] %></td>
                  <td><%= time_field :finished_at, class: "form-control" %></td>
                  <td><%= check_box :next_day, id: "next_day" %></td>
                  <td><%= text_field :business_process, class: "form-control" %></td>
                  <td><%= select_tag :superior, options_for_select(["上長A", "上長B"]), include_blank: "なし", class: "form_control" %></td>
                  </td>
                </tr>
              </tfoot>
              
            </table>
            
            <div class="center">
              <%= f.submit "変更を送信する", class: "btn btn-default btn-block btn-user" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>