<%
  select_begin_year = 2012
  select_end_year = Date.current.year
%>
<% provide(:title, "勤怠ログ") %>
<h1>勤怠ログ</h1>
<div class="pull-left">
  <%= form_tag(change_log_user_path(current_user), method: "get", remote: true, id: 'search_change_log_form') do %>
    <%= select_tag('y', options_for_select((select_begin_year..select_end_year).map{|i| ["#{i}年", i] }, @first_day.year)) %>
    <%= select_tag('m', options_for_select((1..12).map{|i| ["#{i}月", i] }, @first_day.month)) %>
    <%= submit_tag "検索", name:nil, class: "btn btn-default" %>
  <% end %>
</div>

<div id ='change_logs'>
  <%= render 'change_logs' %>
</div>

<script>
  $('#search_change_log_form').on('ajax:success', function(date) {
    var body = date.detail[2].response
    $('#change_logs').html(body)
  })
</script>